<!--@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>-->


<head>
    <title>PRIVAY TEST PAGE</title>
</head>
<h1>privacy policy</h1>
<p>Use this page to detail your site's privacy policy.<u>this is restricted</u></p>
