@page
@model colorchange.Pages.colorchangeModel
@{
 ViewData["Title"] = "Change screen color";
}

<div class="Container">
    <form method="post">
        
        <input type="submit" value="Click to turn Blue"/>
        <input type="submit" value="Click to turn green" onclick="change(this)"/>
    </form>
</div>

